* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ebc8b2;
}

main div {
    display: flex;
}

header {
    height: 200px;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 5px;
}

header img {
    height: 100px;
    width: 150px;
    object-fit: scale-down;
}

header table tr th {
    float: right;
    text-indent: 50px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin-top: 5vh;
}

main div span img {
    float: left;
}

section div span img {
    float: right;
}

main {
    height: 500px;
    width: 100%;
}

section {
    height: 500px;
    width: 100%;
}

nav {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
}

nav h1 {
    margin-left: 200px;
    font-size: 60px;
}

nav td {
    font-size: 30px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    justify-content: space-around;
}

footer img {
    height: 50px;
    width: 50px;
}